html { height: 100% }
body {
  padding-top: 50px;
  height: 100%;
  margin: 0;  
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.day {
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.map {
  height: 600px;
  width: 66%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
