/* Space out content a bit */
body {
  height: 100%;
  width: 100%;
}
.body {
  padding-top: 20px;
  padding-bottom: 20px;
  /* height: 100%; */
  margin: 5px;
}
.row, .col {
  overflow: hidden;
  position: absolute;
}
.row {
  left: 0;
  right: 0;
}
.col {
  top: 0;
  bottom: 0;
}
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }


.header.row { height: 75px; top: 0; }
.body.row { top: 75px; bottom: 50px; }
.footer.row { height: 50px; bottom: 0; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin: 19px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.day {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: auto;
  margin-right: auto; */
}
.map {
  width: 100%;
  height: 100%;
  max-height: 1024px;
  min-height: 512px;
  padding-left: 10px;
  padding-right: 10px;
}


/* Supporting marketing content 
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
*/


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
/*  .marketing, */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
